@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
.image_container {
    cursor: pointer;
    margin-right: auto;
    margin-top: 10px;
}
.image_container ul {
    float: right;
}
.image_container img {
    float: left;
    margin-top: 15px;
    margin-left: 0;
}
nav {
    width: 100%;
    height: fit-content;
    background-color: #1f3270;
    line-height: 75px;
    padding: 0 100px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 0;
    opacity: 95%;
    display: inline;
}
nav p {
    color: #fff;
    text-transform: uppercase;
    display: inline;
}
nav ul {
    float: right;
    display: inline;
}
nav ul li {
    display: inline;
    list-style: none;
}
nav ul li a {
    display: inline;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 16px;
    transition: all .2s;
}
nav ul li a:hover {
    background-color: white;
    color: black;
    display: inline;
}
a {
    text-decoration: none;
    color: royalblue;
}
main {
    margin: 0;
    margin-top: 96px;
    background-color: white;
}
main p {
    margin-left: 25px;
    margin-right: 25px;
}
p {
    word-break: normal;
}
.title_head {
    margin-top: 125px;
}
.background_image {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
}
.post_header {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}
.post_header_news {
    float: left;
    background-color: white;
    top: 86px;
    left: 25px;
    padding: 30px;
    max-width: 50%;
    max-height: auto;
    width: fit-content;
    position: absolute;
    opacity: 90%;
    height: auto;
}
.post_header_news ul li {
    margin-left: 25px;
}
.mdg_oscars_logo{
    margin-left: -20px;
    height: 150px;
    width: 150px;
}
.infos_container{
    background-color: lightgray;
    top: auto;
    margin-top: -101px;
    margin-bottom: 101px;
    display: inline-block;
    position: absolute;
    padding: 10px;
}
.infos_container a {
    color: black;
}
.infos_container h1 {
    color: #1f3270;
}
.info_container1 {
    margin-left: 12.5%;
    float: left;
    width: 25%;
    position: relative;
}
.info_container2 {
    float: left;
    width: 25%;
    position: relative;
    align-self: center;
}
.info_container3 {
    float: left;
    width: 25%;
    position: relative;
}
main h2 {
    margin-left: 10%;
    padding: 15px;
    color: #203474;
}
main ul li {
    margin-left: 15%;
    list-style: square;
}
.footer_top_bar {
    background-color: rgb(0, 190, 0);
}
footer {
    background-color: #203474;
    color: white;
}
footer a {
    color: white;
}
footer h1 {
    margin-top: 20px;
}
.back_to_top {
    margin-top: 10px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.back_to_top a {
    padding: 5px;
    border: 2px solid rgb(126, 126, 126);
    transition: border .2s;
}
.back_to_top a:hover {
    border: 2px solid white;
}
.school_award{
    display: grid;
    justify-content: center;
    align-items: center;
}
.footer_info_items {
    display: grid;
    justify-content: center;
    align-items: center;  
}